@page "/"

<h1>Hello, world!</h1>


<button class="AddDefaut" @onclick="AddDefaut">Add Defaut</button>



			<table>
		  <caption>
			Liste des défauts
		  </caption>
		  <thead>
			<tr>
			  <th scope="col">Number</th>
			  <th scope="col">Designation</th>
			  <th scope="col">Niveau</th>
			</tr>
		  </thead>
		  <tbody>
		@foreach (Defaut item in Defaut.defautlist)
{

			<tr>
				<th scope="row">@item.NumeroDefaut.ToString()</th>
			  <td>@item.Designation</td>
				  <td>@item.Niveau</td>
			</tr>

}
		  </tbody>
		  <tfoot>
			<tr>
			  <th scope="row" colspan="2">Nombre</th>
			  <td>@Defaut.defautlist.Count</td>
			</tr>
		  </tfoot>
		</table>

@code {
	

	private int currentCount = 0;




	private async Task refresh()
	{
		OnInitializedAsync();
	}

	public void AddDefaut()
	{
		Defaut.defautlist.Add(new Defaut(12, "defaut dsdsds", 56));


	}




}